appdirs==1.4.4
basemap==1.4.0
basemap-data==1.3.2
Bottleneck==1.3.7
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.0
cryptography==42.0.4
cycler==0.12.1
fonttools==4.48.1
idna==3.6
intel-openmp==2024.0.2
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.2
mkl==2024.0.0
munkres==1.1.4
numexpr==2.9.0
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pillow==10.2.0
platformdirs==4.2.0
ply==3.11
pooch==1.8.0
pycparser==2.21
pyOpenSSL==24.0.0
pyparsing==3.1.1
pyproj==3.6.1
PyQt5==5.15.10 --only-binary=:all:
PyQt5-Qt5==5.15.2 --only-binary=:all:
PyQt5-sip==12.13.0 --only-binary=:all:
pyrocko==2024.1.10
pyshp==2.3.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
scipy==1.12.0
sip==6.8.3
six==1.16.0
tbb==2021.11.0
toml==0.10.2
tornado==6.4
tzdata==2023.4
urllib3==2.2.0
vtk==9.3.0
